.awsProduct {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.awsProductIcon {
  flex-grow: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.awsProductName {
  color: white !important;
  border: solid 0.1em white;
  border-radius: 1em;
  padding: 0 0.7em;
  font-size: 2vh !important;
  display: block;
  background-color: #ffffff1c;
}

.awsProductNameWrapper {
  margin: 0 auto 0.5em auto;
}
