.draggable {
  height: 100px;
  width: 100px;
  cursor: grab;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 4px;
  overflow: hidden;
}

.draggable_big {
  height: 200px;
  width: 200px;
  cursor: grab;
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden;
}

.draggable_text {
  color: black;
  text-align: center;
  margin-top: -3px;
  font-size: 13px;
}

.draggable_big_text {
  color: white;
  text-align: center;
  margin-top: 80px;
}

.info {
  float: right;
  position: relative;
  margin-bottom: -44px;
  padding: 3px;
  color: white;
  font-size: 19px!important;
  cursor: pointer;
}

.draggable_icon {
  margin-top: -18px;
}

.draggableActive {
  opacity: 0.5;
}
