.component_big {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

/* MEDIA QUERIES */
@media(max-width: 1000px) {
  .component_big {
    width: 70%;
  }
}

@media(max-width: 800px) {
  .component_big {
    width: 90%;
  }
}
