body {
  margin: 0px;
}

.header_wrapper, .button_group {
  width: 30%;
  margin: 0 auto;
}

.button_group {
  text-align: center;
  margin-top: 10%;
}

.start_button {
  width: 100%;
}

.start_button_wrapper {
  margin-bottom: 20px;
}

.text {
  color: #336633;
  font-family: Impact;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #336633;
  border-bottom: 2px solid #336633;
  text-align: center;
}

/* MEDIA QUERIES */
@media(max-width: 1000px) {
  .header_wrapper, .button_group {
    width: 50%;
  }
}

@media(max-width: 800px) {
  .header_wrapper, .button_group {
    width: 90%;
  }
}
