.button_group {
  margin: 0 auto;
  max-width: 350px;
  padding: 20px;
}

.start_button {
  width: 100%;
}

.start_button_wrapper {
  margin-bottom: 20px;
}

.text {
  color: #336633;
  font-family: Impact;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #336633;
  border-bottom: 2px solid #336633;
  text-align: center;
}
