.droppable {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
}


.droppable_text {
  color: white;
  text-align: center;
  margin-top: 80px;
}
